<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html ng-app="myapp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/livraria.js"></script>
	<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>

<body ng-controller="livrariaController as livraria">
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
	<div id="templatemo_menu">
    	<ul>
            <li><a href="index.html" class="current">Início</a></li>
            <li><a href="#">Pesquisa</a></li>
			<li><a href="#">Contato</a></li>
    	</ul>
    </div> <!-- end of menu -->

    <div id="templatemo_header">
    	<div id="templatemo_special_offers">
        	<p>
                As melhores ofertas de livros estão aqui
        	</p>
       </div>
    </div> <!-- end of header -->

    <div id="templatemo_content">
        <div id="templatemo_content_left">
        	<div class="templatemo_content_left_section">
            	<h1>Categories</h1>
                <ul>
                    <li><a href="#">Romance</a></li>
                    <li><a href="#">Drama</a></li>
                    <li><a href="#">Ação</a></li>
                    <li><a href="#">Suspense</a></li>
                    <li><a href="#">Ficção Científica</a></li>
            	</ul>
            </div>
			<div class="templatemo_content_left_section">
            	<h1>Bestsellers</h1>
				<ul>
                    <li><a href="#">Depois de você</a></li>
                    <li><a href="#">O pequeno principe </a></li>
                    <li><a href="#">A Sereia</a></li>
                    <li><a href="#">Espada de Vidro</a></li>
                    <li><a href="#">Grey</a></li>
            	</ul>
            </div>
			<div class="templatemo_content_left_section">
            	<h1>Informações do Livro (Editar ou Adicionar )</h1>
					<table cellpadding="2" cellspacing="2">
						<tr>
							<td>Id</td>
							<td><input type="text" ng-model="livraria.id"></td>
						</tr>
						<tr>
							<td>Titulo</td>
							<td><input type="text" ng-model="livraria.title"></td>
						</tr>
						<tr>
							<td>Lista de Autores</td>
							<td><input type="text" ng-model="livraria.author"></td>
						</tr>
						<tr>
							<td>Descricao</td>
							<td><input type="text" ng-model="livraria.description"></td>
						</tr>
						<tr>
							<td>Url</td>
							<td><input type="text" ng-model="livraria.cover"></td>
						</tr>
						<tr>
							<td>Preço</td>
							<td><input type="number" ng-model="livraria.price"></td>
						</tr>
						<tr>
							<td>&nbsp</td>
							<td>
								<button class="w3-btn w3-ripple" ng-click="livraria.add()">&#9998;Adicionar</button>
								<button class="w3-btn w3-ripple" ng-click="livraria.update()">&#9998;Editar</button>
							</td>
						</tr>
					</table>
            </div>



        </div> <!-- end of content left -->

        <div id="templatemo_content_right" ng-repeat="livro in livraria.bookList">
        	<div class="templatemo_product_box">
            	<h1>{{livro.title}}  <span>(by {{livro.author}})</span></h1>
   	      <img ng-src="{{livro.cover}}" style="width: 100px; margin-right: 20px;" alt="image" />
                <div class="product_info">
                	<p>{{livro.description}}</p>
					<h3>${{livro.price}}</h3>
                    <button class="w3-btn w3-ripple" ng-click="livraria.selectEdit($index)">&#9998;Editar</button>
					<button class="w3-btn w3-ripple" ng-click="selectEdit(livro.id)">&#9998;Comentários</button>
					<button class="w3-btn w3-ripple" ng-click="livraria.remove($index)">&#9998;Deletar</button>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>

    	<div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->

	<div class="modal fade" id="btnEditButton">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">

    <div id="templatemo_footer">
	       <a href="#">Início</a> | <a href="#">Pesquisa</a> | <a href="#">Contato</a><br />
        Copyright © 2048 <a href="#"><strong>Pedro Desenvolvimento</strong></a>
	</div>
    <!-- end of footer -->
<!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->
</body>
</html>